# General Logging Configuration
LOG_LEVEL=INFO
LOG_TRANSPORT=console
LOG_CATEGORY_LEVELS=

# Datadog Configuration (if LOG_TRANSPORT=datadog)
DATADOG_API_KEY=
DATADOG_SERVICE_NAME=
DATADOG_ENV=development
DATADOG_SITE=datadoghq.com
